Phase-1/LDP-Code/Dataset/
Phase-1/LDP-Code/Preprocessing/dataset
Phase-1/LDP-Code/Preprocessing/train_sample_videos
Phase-5/faceforensics_dataset_test
Phase-5/faceforensics_dataset_train
Phase-5/dataset
Phase-5/002.mp4
Phase-5/866_c23.mp4
Phase-5/866_c40.mp4
Phase-5/866_raw.mp4
Phase-5/models
Phase-6/models
Phase-6/features
Phase-6/datasets

*.joblib